body {
	width: 960px;
}

header {
	margin-bottom: 1rem;
}

h1 {
	font-weight: 200;
	margin-bottom: 1rem;
}


header p {
	margin: 0;
	padding: 1em;
	background: rgba(250, 252, 255, 0.7);
}

#canvas {
  background-image:url("../../img/scala_1.png");
	background-position: 815px 100px;
	background-repeat: no-repeat;
	position: absolute;
	z-index:10;
}

#index{
  position: absolute;
}

#scala {
  background: red none repeat scroll 0 0;
  height: 75px;
  left: 1420px;
  position: absolute;
  top: 415px;
  width: 93px;
}

#scalaPix{
	position: relative;
	background: red;
	width:40px;
	height:40px;
}

#textDiv {
	float:left;
  width:809px;
  height:200px;
	background: rgba(250, 252, 255, 0.7) none repeat scroll 0 0;
}


#canvasDiv {
 background: rgba(250, 252, 255, 0.7);
	width: 960px;
  height: 400px;
}

.content {
	width: 960px;
	height: 400px;
	overflow: hidden;
}

.loading {
	position: relative;
}

.loading:after {
	content: url("../art/loading.gif");
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -51px;
	opacity: 0.8;
}

#error {
	display:none;
	width: 960px;
	text-align: left;
	padding: 10px;
}

#mobile {
    display:none;
    width: 960px;
    text-align: left;
    padding: 10px;
}

body.embedded header {
	display: none;
}

body.embedded {
	margin: 0;
}
