body {
	width: 960px;
}

header {
	margin-bottom: 1rem;
}

h1 {
	font-weight: 200;
	margin-bottom: 1rem;
}


header p {
	margin: 0;
	padding: 1em;
	background: rgba(250, 252, 255, 0.7);
}

#window{
    border: 1px #999 solid;
    box-shadow: 10px 10px 15px silver;
    display: none;
    height: 80px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 142px;
}

#clipart{
  background-image:url("../../img/scala_1.png");
  background-position: 361px 162px;
  float:left;
  width:164px;
  height:500px;
  background-repeat: repeat-x;
  left: 50%;
  margin-left: 314px;
  position: absolute;
  z-index:10;
}

#index{
  position: absolute;
}

#scala {
  background: red none repeat scroll 0 0;
  height: 72px;
  left: 50%;
  margin-left: 332px;
  position: absolute;
  top: 372px;
  width: 94px;
  z-index: 0;
}

#container{
  background: #fafcff;
  height:500px;
  line-height: 1.2em;
  padding:3px;
}

.prof-container{
  background: #fafcff;
  height:500px;
  line-height: 1.2em;
  padding:3px;
}

.prof-scalaPix{
	position: relative;
	background: red;
	width:40px;
	height:40px;
}

.prof-textDiv {
  float:left;
  width:809px;
  height:200px;
  background: rgba(250, 252, 255, 0.7) none repeat scroll 0 0;
}

.prof-canvasDiv{
  width: 760px;
  height: 200px;
  float:left;
}

.prof-contL {
	width:760px;
	float:left;
	border-right: 1px solid #688296 ;
	padding: 15px;
}
.in {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.prof-container p{
  margin:0px;
  font-size: 0.84em;
}

.yellow{background-color:#ffff66;}
.red{ background-color:#ffff66;}
.violett{background-color:#FF00FF;}
.green{background-color:#ADFF2F;}
.blue{background-color:#00FFFF;}
.grey{background-color:#999999;}

.prof-contL p.sent{
  padding-bottom: 7px;
  padding-left: 30px;
  padding-top: 7px;
  font-size: 0.83em;
}
.prof-contR{
  float: left;
  padding-left: 30px;
  text-align: center;
  width: 90px;
  padding-right: 30px;
  font-size: 0.85em;
}

.button{
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #999;
    padding: 2px;
    cursor:pointer;
}
.button:hover{
   background-color:#999999;
}
.loading {
	position: relative;
}

.loading:after {
	content: url("../art/loading.gif");
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -51px;
	opacity: 0.8;
}

#ex-content-2, #ex-content-3, #ex-but-2, #ex-but-3{
  display:none;
}

#tc-content-2{
  height:100px;
}
/********************************************************/
.prof-button-start{
   margin-top:433px;
}
.prof-button-1{
  margin-top:76px;
}
.prof-button-2{
  margin-top:123px;
}
.prof-button-3{
  margin-top:82px;
}
.prof-button-4{
  width:200px;
  margin-left:260px;
}

#error {
	display:none;
	width: 960px;
	text-align: left;
	padding: 10px;
}

#mobile {
    display:none;
    width: 960px;
    text-align: left;
    padding: 10px;
}

body.embedded header {
	display: none;
}

body.embedded {
	margin: 0;
}
